* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {

    background: #0f172a;
    color: white;
}

/* Navbar */

.navbar {

    height: 80px;
    background: #111827;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 40px;

    border-bottom: 1px solid #334155;
}

.logo {

    font-size: 30px;
    font-weight: bold;
    color: #38bdf8;
}

.search-box {

    display: flex;
    gap: 10px;
}

.search-box input {

    width: 350px;
    height: 45px;

    border: none;
    outline: none;

    border-radius: 8px;

    padding: 0 15px;

    background: #1e293b;
    color: white;
}

.search-box input::placeholder {

    color: #94a3b8;
}

.search-box button {

    width: 110px;
    border: none;

    border-radius: 8px;

    cursor: pointer;

    background: #38bdf8;
    color: white;

    font-weight: bold;

    transition: .3s;
}

.search-box button:hover {

    background: #0ea5e9;
}


/* Main */

.container {

    display: flex;

    height: calc(100vh - 80px);
}


/* Sidebar */

.sidebar {

    width: 330px;

    background: #111827;

    border-right: 1px solid #334155;

    overflow: auto;

    padding: 20px;
}

.sidebar h2 {

    margin-bottom: 20px;
    margin-top: 10px;

    color: white;
}

#postList {

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.post-item {

    background: #1e293b;

    padding: 15px;
    border-radius: 10px;

    cursor: pointer;

    transition: .3s;
    margin-top: 10px;
}

.post-item:hover {

    background: #38bdf8;
    transform: translateX(5px);
}


/* Center */

.post-section {

    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 40px;
}

#postCard {
    width: 90%;
    max-width: 850px;

    background: #1e293b;

    padding: 40px;

    border-radius: 20px;

    box-shadow: 0 10px 30px rgba(0, 0, 0, .4);
}

.post-title {

    font-size: 35px;

    margin-bottom: 20px;

    color: #38bdf8;
}

.post-body {

    color: #cbd5e1;

    line-height: 32px;

    font-size: 18px;
}


/* Scroll */

.sidebar::-webkit-scrollbar {

    width: 8px;
}

.sidebar::-webkit-scrollbar-thumb {

    background: #38bdf8;
    border-radius: 20px;
}

.sidebar::-webkit-scrollbar-track {

    background: #0f172a;
}


/* Responsive */

@media(max-width:900px) {

    .navbar {

        flex-direction: column;

        height: auto;

        gap: 15px;

        padding: 20px;
    }

    .search-box {

        width: 100%;
    }

    .search-box input {

        width: 100%;
    }

    .container {

        flex-direction: column;
    }

    .sidebar {

        width: 100%;
        height: 250px;
    }

}


/* loader */


/* From Uiverse.io by andrew-manzyk */
.loader {
    display: none;
    justify-content: center;
    margin-top: 150px;
    flex-direction: column;
    /* margin-left: 700px; */
    --main-color: #fd0000;
    transform: scale(1);
    /* You can change the size */
    z-index: 999;
}

.loader svg {
    margin: 0 auto;
    width: 100px;
    height: 100px;
}

.loader svg path:first-child {
    will-change: d;
    fill: var(--main-color);
    animation: morph 2s ease-in-out infinite;
}

.loader svg path:not(:first-child) {
    fill: none;
    stroke: var(--main-color);
    stroke-width: 0;
}

.loader svg path:nth-child(2) {
    animation: wave 2s linear infinite;
    animation-delay: 1.7s;
}

.loader svg path:nth-child(3) {
    animation: wave 2s linear infinite;
    animation-delay: 0.3s;
}

.loader svg path:nth-child(4) {
    animation: wave 2s linear infinite;
    animation-delay: 1s;
}

@keyframes wave {
    0% {
        stroke-width: 0;
        transform: scale(1) translateX(0px) translateY(0px);
        opacity: 0;
    }

    10% {
        stroke-width: 5;
        transform: scale(1.05) translateX(-2.25px) translateY(-2.25px);
        opacity: 0.3;
    }

    30% {
        stroke-width: 10;
        transform: scale(1.1) translateX(-4.5px) translateY(-4.5px);
        opacity: 0;
    }

    100% {
        stroke-width: 0;
        transform: scale(1) translateX(0px) translateY(0px);
        opacity: 0;
    }
}

@keyframes morph {
    0% {
        d: path("M10,20 C10,17.24 11.12,14.74 12.93,12.93 L12.93,12.93 C14.74,11.12 17.24,10 20,10 L80,10 C82.76,10 85.26,11.12 87.07,12.93 L87.07,12.93 C88.88,14.74 90,17.24 90,20 L90,80 C90,82.76 88.88,85.26 87.07,87.07 L87.07,87.07 C85.26,88.88 82.76,90 80,90 L20,90 C17.24,90 14.74,88.88 12.93,87.07 L12.93,87.07 C11.12,85.26 10,82.76 10,80Z M68,50 C68,45.02 65.98,40.52 62.72,37.27 L62.72,37.27 C59.47,34.01 54.97,32 50,32 L50,32 C45.02,32 40.52,34.01 37.27,37.27 L37.27,37.27 C34.01,40.52 32,45.02 32,50 L32,50 C32,54.97 34.01,59.47 37.27,62.72 L37.27,62.72 C40.52,65.98 45.02,68 50,68 L50,68 C54.97,68 59.47,65.98 62.72,62.72 L62.72,62.72 C65.98,59.47 68,54.97 68,50Z"
            );
    }

    10% {
        d: path("M10,20 C10,17.24 11.12,14.74 12.93,12.93 L12.93,12.93 C14.74,11.12 17.24,10 20,10 L80,10 C82.76,10 85.26,11.12 87.07,12.93 L87.07,12.93 C88.88,14.74 90,17.24 90,20 L90,80 C90,82.76 88.88,85.26 87.07,87.07 L87.07,87.07 C85.26,88.88 82.76,90 80,90 L20,90 C17.24,90 14.74,88.88 12.93,87.07 L12.93,87.07 C11.12,85.26 10,82.76 10,80Z M68,50 C68,45.02 65.98,40.52 62.72,37.27 L62.72,37.27 C59.47,34.01 54.97,32 50,32 L50,32 C45.02,32 40.52,34.01 37.27,37.27 L37.27,37.27 C34.01,40.52 32,45.02 32,50 L32,50 C32,54.97 34.01,59.47 37.27,62.72 L37.27,62.72 C40.52,65.98 45.02,68 50,68 L50,68 C54.97,68 59.47,65.98 62.72,62.72 L62.72,62.72 C65.98,59.47 68,54.97 68,50Z"
            );
    }

    33% {
        d: path("M10,37.57 C10,34.92 11.05,32.37 12.92,30.5 L30.5,12.92 C32.37,11.05 34.92,10 37.57,10 L62.42,10 C65.07,10 67.62,11.05 69.49,12.92 L87.07,30.5 C88.94,32.37 90,34.92 90,37.57 L90,62.42 C90,65.07 88.94,67.62 87.07,69.49 L69.49,87.07 C67.62,88.94 65.07,90 62.42,90 L37.57,90 C34.92,90 32.37,88.94 30.5,87.07 L12.92,69.49 C11.05,67.62 10,65.07 10,62.42Z M68,50 C68,49.12 67.66,48.24 66.99,47.57 L52.42,33 C51.75,32.33 50.87,32 50,32 L50,32 C49.12,32 48.24,32.33 47.57,33 L33,47.57 C32.33,48.24 32,49.12 32,50 L32,50 C32,50.87 32.33,51.75 33,52.42 L47.57,66.99 C48.24,67.66 49.12,68 50,68 L50,68 C50.87,68 51.75,67.66 52.42,66.99 L66.99,52.42 C67.66,51.75 68,50.87 68,50Z"
            );
    }

    43% {
        d: path("M10,37.57 C10,34.92 11.05,32.37 12.92,30.5 L30.5,12.92 C32.37,11.05 34.92,10 37.57,10 L62.42,10 C65.07,10 67.62,11.05 69.49,12.92 L87.07,30.5 C88.94,32.37 90,34.92 90,37.57 L90,62.42 C90,65.07 88.94,67.62 87.07,69.49 L69.49,87.07 C67.62,88.94 65.07,90 62.42,90 L37.57,90 C34.92,90 32.37,88.94 30.5,87.07 L12.92,69.49 C11.05,67.62 10,65.07 10,62.42Z M68,50 C68,49.12 67.66,48.24 66.99,47.57 L52.42,33 C51.75,32.33 50.87,32 50,32 L50,32 C49.12,32 48.24,32.33 47.57,33 L33,47.57 C32.33,48.24 32,49.12 32,50 L32,50 C32,50.87 32.33,51.75 33,52.42 L47.57,66.99 C48.24,67.66 49.12,68 50,68 L50,68 C50.87,68 51.75,67.66 52.42,66.99 L66.99,52.42 C67.66,51.75 68,50.87 68,50Z"
            );
    }

    66% {
        d: path("M10,50 C10,38.95 14.48,28.95 21.72,21.72 L21.72,21.72 C28.95,14.48 38.95,10 50,10 L50,10 C61.05,10 71.05,14.48 78.28,21.72 L78.28,21.72 C85.52,28.95 90,38.95 90,50 L90,50 C90,61.05 85.52,71.05 78.28,78.28 L78.28,78.28 C71.05,85.52 61.05,90 50,90 L50,90 C38.95,90 28.95,85.52 21.72,78.28 L21.72,78.28 C14.48,71.05 10,61.05 10,50Z M63.72,39.7 C63.72,38.75 63.34,37.9 62.71,37.28 L62.71,37.28 C62.09,36.65 61.24,36.27 60.29,36.27 L39.7,36.27 C38.75,36.27 37.9,36.65 37.28,37.28 L37.28,37.28 C36.65,37.9 36.27,38.75 36.27,39.7 L36.27,60.29 C36.27,61.24 36.65,62.09 37.28,62.71 L37.28,62.71 C37.9,63.34 38.75,63.72 39.7,63.72 L60.29,63.72 C61.24,63.72 62.09,63.34 62.71,62.71 L62.71,62.71 C63.34,62.09 63.72,61.24 63.72,60.29Z"
            );
    }

    76% {
        d: path("M10,50 C10,38.95 14.48,28.95 21.72,21.72 L21.72,21.72 C28.95,14.48 38.95,10 50,10 L50,10 C61.05,10 71.05,14.48 78.28,21.72 L78.28,21.72 C85.52,28.95 90,38.95 90,50 L90,50 C90,61.05 85.52,71.05 78.28,78.28 L78.28,78.28 C71.05,85.52 61.05,90 50,90 L50,90 C38.95,90 28.95,85.52 21.72,78.28 L21.72,78.28 C14.48,71.05 10,61.05 10,50Z M63.72,39.7 C63.72,38.75 63.34,37.9 62.71,37.28 L62.71,37.28 C62.09,36.65 61.24,36.27 60.29,36.27 L39.7,36.27 C38.75,36.27 37.9,36.65 37.28,37.28 L37.28,37.28 C36.65,37.9 36.27,38.75 36.27,39.7 L36.27,60.29 C36.27,61.24 36.65,62.09 37.28,62.71 L37.28,62.71 C37.9,63.34 38.75,63.72 39.7,63.72 L60.29,63.72 C61.24,63.72 62.09,63.34 62.71,62.71 L62.71,62.71 C63.34,62.09 63.72,61.24 63.72,60.29Z"
            );
    }

    100% {
        d: path("M10,20 C10,17.24 11.12,14.74 12.93,12.93 L12.93,12.93 C14.74,11.12 17.24,10 20,10 L80,10 C82.76,10 85.26,11.12 87.07,12.93 L87.07,12.93 C88.88,14.74 90,17.24 90,20 L90,80 C90,82.76 88.88,85.26 87.07,87.07 L87.07,87.07 C85.26,88.88 82.76,90 80,90 L20,90 C17.24,90 14.74,88.88 12.93,87.07 L12.93,87.07 C11.12,85.26 10,82.76 10,80Z M68,50 C68,45.02 65.98,40.52 62.72,37.27 L62.72,37.27 C59.47,34.01 54.97,32 50,32 L50,32 C45.02,32 40.52,34.01 37.27,37.27 L37.27,37.27 C34.01,40.52 32,45.02 32,50 L32,50 C32,54.97 34.01,59.47 37.27,62.72 L37.27,62.72 C40.52,65.98 45.02,68 50,68 L50,68 C54.97,68 59.47,65.98 62.72,62.72 L62.72,62.72 C65.98,59.47 68,54.97 68,50Z"
            );
    }
}

.loaders {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, .8);

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 30px;
    z-index: 9999;
}