* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  width: 100%;
  height: 80px;
  padding: 0 60px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: linear-gradient(135deg,
      #111827,
      #1f2937,
      #111827);

  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);

  animation: navbarShow 0.7s ease;
}

/* Logo */

.logo {
  display: flex;
  align-items: center;
  gap: 12px;

  cursor: pointer;
}

.logo img {
  width: 45px;
  height: 45px;
  object-fit: contain;

  transition: transform 0.4s ease;
}

.logo:hover img {
  transform: rotate(-8deg) scale(1.12);
}

.logo h2 {
  color: white;
  font-size: 24px;
  letter-spacing: 2px;

  transition: transform 0.3s ease;
}

.logo h2 span {
  color: #f59e0b;
}

.logo:hover h2 {
  transform: translateX(5px);
}

/* Search */

.searchBox {
  display: flex;
  align-items: center;
  gap: 10px;
}

.searchBox input {
  width: 360px;
  height: 44px;

  padding: 0 18px;

  border: 2px solid transparent;
  border-radius: 25px;

  outline: none;

  background-color: #ffffff;
  color: #111827;

  font-size: 15px;

  transition:
    width 0.4s ease,
    border-color 0.3s ease,
    box-shadow 0.3s ease;
}

.searchBox input::placeholder {
  color: #9ca3af;
}

.searchBox input:focus {
  width: 400px;

  border-color: #f59e0b;

  box-shadow:
    0 0 0 4px rgba(245, 158, 11, 0.15);
}

/* Button */

.searchBox button {
  height: 44px;

  padding: 0 25px;

  border: none;
  border-radius: 25px;

  background: #f59e0b;
  color: #111827;

  font-size: 15px;
  font-weight: 700;

  cursor: pointer;

  transition:
    transform 0.3s ease,
    background-color 0.3s ease,
    box-shadow 0.3s ease;
}

.searchBox button:hover {
  background-color: #fbbf24;

  transform: translateY(-3px);

  box-shadow:
    0 8px 20px rgba(245, 158, 11, 0.35);
}

.searchBox button:active {
  transform: translateY(0) scale(0.95);
}

/* Navbar animation */

@keyframes navbarShow {

  from {
    opacity: 0;
    transform: translateY(-30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.sidebar {
  width: 290px;
  height: calc(100vh - 80px);

  padding: 25px 18px;

  background: #171717;

  border-right: 1px solid #292929;

  overflow-y: auto;

  animation: sidebarEnter 0.6s ease;
}


/* Scrollbar */

.sidebar::-webkit-scrollbar {
  width: 5px;
}

.sidebar::-webkit-scrollbar-thumb {
  background: #f59e0b;
  border-radius: 10px;
}


/* Restaurant Header */

.restaurantHeader {
  display: flex;
  align-items: center;

  gap: 12px;

  padding: 10px 8px 25px;

  border-bottom: 1px solid #2d2d2d;
}

.restaurantLogo {
  width: 48px;
  height: 48px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 14px;

  background: #f59e0b;

  font-size: 25px;

  transition: 0.3s ease;
}

.restaurantLogo:hover {
  transform: rotate(-8deg) scale(1.08);
}

.restaurantHeader h2 {
  color: white;

  font-size: 22px;

  margin: 0;
}

.restaurantHeader span {
  color: #999;

  font-size: 12px;
}


/* Menu Heading */

.menuHeading {
  display: flex;
  align-items: center;

  gap: 10px;

  margin: 25px 8px 15px;
}

.menuHeading span {
  color: #f59e0b;

  font-size: 12px;

  font-weight: 700;

  letter-spacing: 2px;

  white-space: nowrap;
}

.menuHeading div {
  width: 100%;
  height: 1px;

  background: #303030;
}


/* Recipe List */

.recipeList {
  display: flex;

  flex-direction: column;

  gap: 8px;
}


/* Recipe Item */

.recipeItem {
  display: flex;
  align-items: center;

  gap: 12px;

  padding: 10px;

  border-radius: 12px;

  cursor: pointer;

  transition:
    background 0.3s ease,
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.recipeItem:hover {
  background: #252525;

  transform: translateX(6px);

  box-shadow:
    0 5px 15px rgba(0, 0, 0, 0.25);
}


/* Recipe Image */

.recipeItem img {
  width: 48px;
  height: 48px;

  object-fit: cover;

  border-radius: 10px;

  transition:
    transform 0.3s ease;
}

.recipeItem:hover img {
  transform: scale(1.08);
}


/* Recipe Info */

.recipeInfo {
  flex: 1;

  min-width: 0;
}

.recipeInfo h3 {
  margin: 0;

  color: #f5f5f5;

  font-size: 14px;

  font-weight: 600;

  white-space: nowrap;

  overflow: hidden;

  text-overflow: ellipsis;
}

.recipeInfo p {
  margin-top: 5px;

  color: #999;

  font-size: 12px;
}


/* Arrow */

.arrow {
  color: #666;

  font-size: 18px;

  transition:
    color 0.3s ease,
    transform 0.3s ease;
}

.recipeItem:hover .arrow {
  color: #f59e0b;

  transform: translateX(4px);
}


/* Sidebar Animation */

@keyframes sidebarEnter {

  from {
    opacity: 0;

    transform: translateX(-35px);
  }

  to {
    opacity: 1;

    transform: translateX(0);
  }
}


/* center */

.recipeDetails {
  flex: 1;

  min-height: calc(100vh - 80px);

  padding: 50px;

  display: flex;
  align-items: center;
  gap: 60px;

  background: #f8f8f8;

  animation: detailsShow 0.5s ease;
}

.recipeImageBox {
  width: 45%;
  max-width: 500px;

  overflow: hidden;

  border-radius: 25px;

  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

.layout {
  display: flex;
}

.recipeImageBox img {
  width: 100%;
  display: block;

  transition: transform 0.5s ease;
}

.recipeImageBox:hover img {
  transform: scale(1.05);
}

.recipeContent {
  max-width: 550px;
}

.cuisine {
  padding: 7px 14px;

  border-radius: 20px;

  background: #fff0dc;

  color: #e76f51;

  font-size: 13px;
  font-weight: 700;
}

.recipeContent h1 {
  margin: 18px 0;

  color: #171717;

  font-size: 42px;
}

.description {
  color: #777;

  line-height: 1.7;

  font-size: 16px;
}

.recipeMeta {
  display: flex;
  gap: 35px;

  margin: 30px 0;
}

.recipeMeta div {
  display: flex;
  flex-direction: column;

  gap: 4px;
}

.recipeMeta span {
  font-size: 20px;
}

.recipeMeta strong {
  color: #222;
}

.recipeMeta small {
  color: #999;
}

.orderBtn {
  padding: 14px 30px;

  border: none;
  border-radius: 25px;

  background: #e76f51;

  color: white;

  font-size: 15px;
  font-weight: 700;

  cursor: pointer;

  transition: 0.3s ease;
}

.orderBtn:hover {
  background: #f59e0b;

  transform: translateY(-3px);

  box-shadow: 0 10px 20px rgba(231, 111, 81, 0.3);
}

.empty {
  justify-content: center;
  text-align: center;
}

.empty span {
  font-size: 60px;
}

.empty h1 {
  margin: 15px 0 8px;
}

.empty p {
  color: #888;
}

@keyframes detailsShow {

  from {
    opacity: 0;
    transform: translateY(15px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* loading */

.loaderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 40px 0;

  gap: 15px;
}

.loader {
  width: 42px;
  height: 42px;

  border: 4px solid #333;
  border-top: 4px solid #f59e0b;

  border-radius: 50%;

  animation: spin 0.8s linear infinite;
}

.loaderContainer p {
  color: #999;
  font-size: 13px;
}


@keyframes spin {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }

}